* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    position: relative;

}

.article-block {
    background: dimgray;
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    flex: 1 1 250px;
    position: relative;
}

.article-block div:last-child {
    margin-top: 10px;
    background: yellow;
    color: black;
    cursor: pointer;
    align-self: flex-end;
}


#show_more {
    background: yellow;
    border-color: yellow;
    min-width: 30%;
    font-size: 24px;
    padding: 10px;
    border-radius: 30px;
    margin: 0 auto 20px auto;
}


.modal-hidden {
    display: none;
}

.modal-active {
    display: block;
    position: absolute;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 5px black;
    border-radius: 5px;
    z-index: 9999;
    padding: 50px;
}

.close-modal {
    margin-top: 10px;
    background: black;
    color: yellow;
    padding: 5px 20px;
    border-color: yellow;
    border-radius: 30px;
    font-weight: bold;
}